.overflow-hidden {
  overflow: hidden;
}

.game-container {
  width: 100%;
  max-width: 768px;
  overflow-x: hidden;
}

.game-bg {
  min-height: 100vh;
  background-image: url('../img/game-bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 200px;
}

/* Header */
.header-box {
  max-width: 768px;
  width: 90%;
  margin: 0 auto;
  padding: 15px 10px;
  display: flex;
  align-items: center;
}
.header-logo {
  width: 90%;
  display: block;
}
.header-icons-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: end;
  justify-content: end;
  gap: 3px;
}
.header-icons-box button {
  width: 25%;
}
.header-icons {
  width: 100%;
}


.start-game-modal {
  background: none;
  border: none;
}

.total-earned {
  position: relative;
  padding: 5px;
  width: 88%;
  margin: auto;
  display: block;
  margin-top: -5px;
}

.total-earned h2 {
  position: absolute;
  top: 48%;
  left: 53%;
  transform: translate(-50%, -38%);
  color: white;
  font-size: 40px;
  font-family: 'PEPSI';
}
/* Points Bar Responsive */
@media (max-width: 576px) {
  .total-earned h2 {
    top: 45%;
    font-size: 35px;
  }
}
@media (max-width: 426px) {
  .total-earned h2 {
    font-size: 30px;
  }
}
@media (max-width: 376px) {
  .total-earned h2 {
    font-size: 28px;
  }
}
@media (max-width: 321px) {
  .total-earned h2 {
    font-size: 23px;
  }
}
.gooogooo-game {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 0;
  align-items: center;
  justify-content: center;
  bottom: 20%;
}
.gooogooo-game img {
  width: 40%;
  transition: filter 0.1s ease-in-out;
}
@media (max-width: 569px) {
  .gooogooo-game img {
    width: 50%;
  }
}
.glow {
  filter: drop-shadow(0 0 20px rgba(253, 195, 0, 0.9)); /* Creates a glow around the actual shape of the image */
  transition: filter 0.1s ease-in-out; /* Smooth transition for the glow */
}

/* GoooGooo at corner */
/* .corner-gooogooo {
  width: 70%;
  max-width: 768px;
  position: fixed;
  left: 82%;
  bottom: 15%;
}
.corner-gooogooo img {
  width: 28%;
} */


/* Navbar */
.navbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 768px;
  z-index: 1000;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, black, black 90%);
}
.navbar li {
  display: inline;
}
.navbar a, .navbar li button {
  display: block;
  padding: 10px 0;
  color: #FDC300;
  text-decoration: none;
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
}
.navbar a, p {
  font-size: 15px;
}
.active-link {
  background-image: url('../img/nav-onhoverbg.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.active-link p  {
  color: white;
}
.nav-img {
  width: 70%;
}
/* Navbar Responsive */
@media (max-width: 685px) {
  .navbar a, p {
    font-size: 13px;
  }
}
@media (max-width: 399px) {
  .navbar a, p {
    font-size: 10px;
  }
}

/* .gg-swipe {
  touch-action: none;
} */

@keyframes panIn {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 0;
  }
  50% {
    transform: scale(1.2) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(1.4) translate(-50%, -50%);
  }
}

@keyframes panOut {
  0% {
    transform: scale(1.4) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translate(-50%, -50%);
    opacity: 0;
  }
}

.pan-animation {
  animation: panIn 0.8s ease-out, panOut 0.8s 0.8s ease-in forwards;
}

@keyframes popOut {
  0% {
    transform: scale(0.6) translate(-50%, -50%);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2) translate(-50%, -50%);
    opacity: 0.8;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

.pop-animation {
  animation: popOut 0.4s ease-in forwards;
}

@keyframes popOutPanLeft {
  0% {
    transform: translateX(-100%) scale(0.6);
    opacity: 0.5;
  }
  50% {
    transform: translateX(0) scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: translateX(-5%) scale(1);
    opacity: 1;
  }
}

.pop-animation-pan-left {
  animation: popOutPanLeft 0.8s ease-in forwards;
}

@keyframes fadeAndMoveUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}

.plus-one-animation {
  animation: fadeAndMoveUp 2s ease-out forwards;
}

@keyframes panFromTop {
  0% {
    top: -180vh;  /* Start above the view */
  }
  100% {
    top: 100vh;  /* End below the view */
  }
}
.coin-flush-animation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Center the image horizontally */
  width: 100vw;  /* Full viewport width */
  height: auto;  /* Auto height to maintain aspect ratio */
  min-height: 100vh;  /* Ensure it covers the full height of the viewport */
  object-fit: cover;
  top: -180vh;
  animation: panFromTop 4s linear forwards; /* Apply the pan animation over 2 seconds */
  z-index: 999;  /* Ensure it appears above all other content */
}
