@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
       url('../fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
       url('../fonts/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
       url('../fonts/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic LT';
  src: url('../fonts/AvantGardeLT-Medium.woff2') format('woff2'),
       url('../fonts/AvantGardeLT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MOON GET!';
  src: url('../fonts/moon_get-Heavy.woff2') format('woff2'),
       url('../fonts/moon_get-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PEPSI';
  src: url('../fonts/PEPSI.woff2') format('woff2'),
       url('../fonts/PEPSI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

span {
  font-family: 'MOON GET!';
}
.brand-yellow {color:#FDC300;}
.light-yellow {color:#FFF155;}
.text-gray {color:#a8a8a8;}
.profit-green {color:#48a600;}

body {
  max-width: 768px;
  height: 100vh;
  margin: 0 auto;
  padding:0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  
}
body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 575px) {
  p {font-size: 16px;}
}

.small-font {
  font-size: 14px;
}

button:focus {
  box-shadow: none !important;
}
button {
  background-color: transparent;
}

.modal {
  background: rgba(0, 0, 0, 0.6);
}
/* h1, h2, h3 {font-family: 'PEPSI';}
h4, h5, h6 {font-family: 'Bebas Neue'; letter-spacing: 2px;} */

/* h2 {font-size: 56px;}
@media (max-width: 575px) {
  h2 {font-size: 36px;}
} */

/* h4 {font-size: 30px;} */


/* p {
  font-family: 'Bebas Neue';
  letter-spacing: 2px;
} */

/* .fluid-padding {
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 1200px) {
  .fluid-padding {
      padding-left: 50px;
      padding-right: 50px;
  }
}
@media (min-width: 1400px) {
  .fluid-padding {
      padding-left: 200px;
      padding-right: 200px;
  }
}
@media (min-width: 1700px) {
  .fluid-padding {
      padding-left: 320px;
      padding-right: 320px;
  }
} */

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
