.airdrop-crystal-main {
    width: 100%;
    max-width:200px;
}

.tasklist-btn {
    width: 100%;
    max-width: 180px;
}

.task-container {
    margin-left: 40px;
    margin-right: 40px;
}
@media (max-width: 399px) {
    .task-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.tasklist-box {
    background-color: #1f1f1f;
    border-radius: 5px;
}

.task-icon {
    width: 100%;
    max-width: 50px;
}
@media (max-width: 339px) {
    .task-icon {margin-top: 8px;}
}

.task-title {
    margin-top: 12px;
    font-size: 14px;
}
@media (max-width: 375px) {
    .task-title {margin-top: 10px;}
}

.completed-icon {
    margin-top: 15%;
    width: 25px;
}
@media (max-width: 375px) {
    .completed-icon {margin-top: 8px;}
}