.earn-container {
    margin: 10px 40px;
    
}
.earn-container h3 {
    text-align: center;
    color: white;
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
    font-size: 35px;
    padding: 5px 0;
}

.earn-list {
    width: 90%;
    margin: auto;
}
.earn-list p {
    margin: 0;
}
.earn-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-image: url('./img/task-bg.png');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 3px 3px 5px black;
    margin-bottom: 15px;
}
.item-icon, .action-icon {
    width: 20%;
    text-align: center;
}
.item-icon img {
    width: 70%;
}
.action-icon img {
    width: 90%;
}
.earn-task-content {
    padding: 0 20px;
    width: 60%;
}
.earn-task-content p {
    font-family: 'Gilroy';
    font-size: 25px;
    color: black;
    font-weight: bold;
}
.earn-des {
    display: flex;
    align-items: center;
    gap: 5px;
}
.earn-des p {
    font-size: 20px;
    letter-spacing: 1px;
}
.earn-des img {
    width: 10%;
    height: 10%;
}


/* Responsive */
@media (max-width: 679px) {
    .earn-task-content p {
        font-size: 20px;
    }
    .earn-des p {
        font-size: 15px;
    }
}
@media (max-width: 582px) {
    .earn-task-content p {
        font-size: 15px;
    }
    .earn-des p {
        font-size: 13px;
    }
}
@media (max-width: 478px) {
    .earn-container h3 {
        font-size: 30px;
    }
    .earn-task-content p {
        font-size: 13px;
    }
    .earn-des p {
        font-size: 10px;
    }
}
@media (max-width: 426px) {
    .earn-container h3 {
        font-size: 28px;
    }
    .earn-content {
        border-radius: 15px;
        padding: 8px 12px;
    }
    .earn-task-content {
        padding: 0 10px;
    }
    .earn-task-content p {
        font-size: 11px;
    }
    .earn-des p {
        font-size: 9px;
    }
}
@media (max-width: 399px) {
    .earn-container {
        margin: 0 20px;
    }
}
@media (max-width: 376px) {
    .earn-container h3 {
        font-size: 23px;
    }
    .earn-content {
        border-radius: 10px;
    }
    .earn-des p {
        font-size: 8px;
    }
}