.task-container {
    margin-left: 40px;
    margin-right: 40px;
}
@media (max-width: 399px) {
    .task-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.tasklist-box {
    background-image: url('./img/task-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 370px;
    justify-content: center;
}

.task-icon {
    width: 100%;
    max-width: 100px;
}
@media (max-width: 339px) {
    .task-icon {margin-top: 8px;}
}

.task-title {
    margin-top: 12px;
    font-size: 14px;
}
@media (max-width: 375px) {
    .task-title {margin-top: 10px;}
}
.task-des {
    display: flex;
    align-items: center;
}
.task-des img {
    width: 8%;
    height: 8%;
}
.task-des em {
    font-style: normal;
    color: #FDC300;
}

/* Leaderboard */
.leaderboard {
    width: 100%;
    max-width: 340px;
}
.leaderboard-items {
    width: 100%;
    max-width: 340px;
    padding: 0 20px;
    display:flex;
    color: white;
    position: absolute;
    top: 38%;
    left: 15%;
}
.leaderboard-items h5 {
    font-size: 10px;
}
.leaderboard-list {
    width: 100%;
    max-width: 340px;
    height: 308px;
    color: white;
    position: absolute;
    top: 42%;
    left: 15%;
    overflow-y: scroll;
}
.leaderboard-list ul {
    padding: 0;
    margin: 0;
}
.leaderboard-list li {
    width: 100%;
    max-width: 350px;
    height: 50px;
    display: flex;
    color: white;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 5px;
    background-image: url('./img/leaderboard-item-bg-top.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.leaderboard-list p {
    margin: 0;
}

.invite-friends {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    margin: auto;
    position: fixed;
    bottom: 13%;
}